langgraph
langchain_community
langchain_core
tavily-python
wikipedia
langchain-openai
langchain-google-genai
langchain-groq
structlog
python-docx
reportlab
fastapi
uvicorn
jinja2
httpx
aiofiles
sqlalchemy
bcrypt
passlib
python-multipart
PyYAML
groq 
pymysql        
pydantic-settings
python-dotenv
