langgraph
langchain_community
langchain_core
tavily-python
wikipedia
langchain-openai
langchain-google-genai
langchain-groq
structlog
python-docx
reportlab
fastapi
uvicorn
jinja2
httpx
aiofiles
sqlalchemy
bcrypt
passlib
python-multipart
PyYAML
groq 
pymysql        
pydantic-settings
python-dotenv
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub